@charset "UTF-8";
.span_content{
            display: block;
            border-bottom: 1px solid rgb(0, 0, 0);
            margin: 5px;
            font-size: 16px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            max-width: 500px;
        }
        .trashcan{
            float: right;
        }
        .tooltiptext {
            visibility: hidden;
            width: 50px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }
        .trashcan:hover .tooltiptext{
            visibility: visible;
        }